.banner {
  display: flex;
  position: sticky;
  top: 4rem;

  width: 100vw;
  height: 70vh;

  text-align: center;

  justify-content: center;

  /* background-image: linear-gradient(
    to bottom,
    var(--color-dark-shade-one),
    var(--color-mid),
    var(--color-light)
  ); */

  background-color: var(--color-light);

  color: var(--color-dark);
  z-index: -99;
}

/* .banner::after {
  content: "";
  width: 100vw;
  height: 70vmax;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(61% 100%, 100% 44%, 100% 100%, 0 100%, 0 42%);
  max-width: 100%;
} */

/* .swiper-slide {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

.banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text > img {
  display: flex;
  width: 70%;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: var(--color-bg);
}

.home-container > a {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 3vmax;
  padding: 1vmax;
  font-size: 14px;
}

.home-container > a:hover {
  cursor: pointer;
}

.homeHeading {
  text-align: center;
  font-size: 1.4vmax;
  border-bottom: 1px solid var(--color-dark-shade-one);

  padding: 2px;
  margin: 0 auto;
  margin-top: 5vmax;
}

.looking-for {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100vw;
  align-items: center;
  margin-top: 4vmax;
  margin-left: 4rem;
  margin-right: 4rem;
  gap: 4rem;
  transition: var(--transition);
  overflow-x: scroll;
}

.looking-for > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.looking-for-item {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 15vmax;
  height: 20vmax;
  padding-top: 1rem;
}

.looking-for-item-2 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 15vmax;
  height: 20vmax;
  padding-top: 1rem;
}

.looking-for-item-2 > {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 15vmax;
  height: 20vmax;
  padding-top: 1rem;
}

.looking-for-title {
  display: flex;
  padding: 1.5vmax;
  align-items: center;
  justify-content: center;
}

.looking-for-title > h4 {
  font-weight: 400;
  font-size: 14px;
}

.looking-for-item:hover {
  transform: translateY(-0.1vmax);
}

/* .looking-for > a:hover {
  background-color: var(--color-light);
} */

.looking-for-item-image {
  margin-bottom: 20px;

  width: 100%;
  object-fit: contain;
  border: 1px solid var(--color-bor);
}

.looking-for-image {
  width: 100%;
  height: 100%;
}

.container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 4vmax 2vmax;
  max-width: 100%;
  gap: 5vmax;
  align-items: center;
  max-width: 100%;
  overflow-x: scroll;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: var(--color-light-one);
  transition: var(--transition);
  padding-bottom: 0.5vmax;
  border: 1px solid var(--color-bor);
  /* box-shadow: 0 0 1px var(--color-dark-shade-one); */
}

.productCard > img {
  width: 14vmax;
  height: 18vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
}

.productCard > div > span {
  margin: 1vmax;
  font: 300 0.7vmax;
}

.productCard > p {
  font-size: 1.2vmax;
  margin: 1vmax 1vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax 1vmax;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 4px var(--color-dark-shade-one);
  background-color: var(--color-light);
  transform: translateY(-0.1vmax);
}

.show-all {
  border: none;
  background-color: var(--color-btn);
  color: var(--color-bg);
  font: 300 0.9vmax "Roboto";
  width: 30%;
  padding: 1vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .productCard {
    width: 16vmax;

    padding-bottom: 0.5vmax;
  }

  .productCard > img {
    width: 16vmax;
    height: 20vmax;
  }

  .productCard > p {
    font-size: 1.5vmax;
    font-weight: 500;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .banner {
    height: 50vh;
  }

  .banner-text > h1 {
    font-weight: 200;
  }
  .banner-text > p {
    font-size: 14px;
    font-weight: 200;
  }

  .looking-for {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100vw;
    align-items: center;
    margin-top: 4vmax;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 2rem;
    transition: var(--transition);
    overflow-x: scroll;
  }
}
