.banner {
  display: flex;
  position: sticky;
  top: 4rem;

  width: 100vw;
  height: 90vh;

  text-align: center;

  justify-content: center;

  background-image: linear-gradient(
    to bottom,
    var(--color-mid),
    var(--color-light),
    var(--color-light-one)
  );

  /* background-color: var(--color-light); */

  color: var(--color-dark);
  z-index: -99;
}

/* .swiper-slide {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-text > img {
  display: flex;
  width: 100%;
  margin-top: -5vmax;
  margin-left: auto;
  margin-right: auto;
}
.home-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: var(--color-bg);
  padding-top: 3vmax;
}

.home-container > a {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 3vmax;
  padding: 1vmax;
  font-size: 14px;
}

.home-container > a:hover {
  cursor: pointer;
}

.looking-for {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vmax;
  margin-left: 4rem;
  margin-right: 4rem;
  gap: 4rem;
  transition: var(--transition);
  overflow-x: scroll;
  border-bottom: 1px solid var(--color-dark-shade-one);
  padding-bottom: 3vmax;
}

.looking-for-item {
  display: flex;
  flex-direction: column;
  width: 18.2vmax;

  aspect-ratio: 4/5;
  align-items: center;
  justify-content: center;
  gap: 1.5vmax;
}

.looking-for-item > a {
  display: flex;
  min-width: 18vmax;

  aspect-ratio: 4/5;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-image: url(../../assets/homecard.png);
  font-family: "Dancing Script", cursive;
  border: 1px solid var(--color-bor);
}

.looking-for-text-container {
  display: flex;
  padding: 4vmax;
  align-items: center;
  justify-content: center;
}

.looking-for-text-container > h4 {
  font-weight: 200;
}

.looking-for-item-title {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.looking-for-item-title > h5 {
  font-weight: 200;
}
.container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 3.5vmax;
  margin-bottom: 2.5vmax;
  max-width: 100%;
  gap: 5vmax;
  align-items: center;
  max-width: 100%;
  overflow-x: scroll;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: var(--color-light-one);
  transition: var(--transition);
  padding-bottom: 0.5vmax;
  border: 1px solid var(--color-bor);
  /* box-shadow: 0 0 1px var(--color-dark-shade-one); */
}

.productCard > img {
  width: 14vmax;
  aspect-ratio: 3/4;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
}

.productCard > div > span {
  margin: 1vmax;
  font: 300 0.7vmax;
}

.productCard > p {
  font-size: 1.2vmax;
  margin: 1vmax 1vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax 1vmax;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 4px var(--color-dark-shade-one);
  background-color: var(--color-light);
  transform: translateY(-0.1vmax);
}

.show-all {
  border: none;
  background-color: var(--color-bor);
  color: var(--color-dark);
  width: 10%;
  padding: 1vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  text-align: center;
}

.marryContainer {
  display: flex;
  width: 81%;
  aspect-ratio: 2 / 1;
  border: 1px solid var(--color-bor);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-image: url(../../assets/marry.png);
}

.openContainer {
  display: flex;
  width: 81%;
  aspect-ratio: 2 / 1;
  border: 1px solid var(--color-bor);
  margin: 0 auto;
  align-items: center;
  background-size: contain;
  background-image: url(../../assets/offer.png);
}

.giftContainer {
  display: flex;
  width: 85%;
  aspect-ratio: 2 / 1;
  border: 1px solid var(--color-bor);
  margin: 0 auto;
  margin-bottom: 2vmax;
  align-items: center;
  background-size: contain;
  background-image: url(../../assets/gift.png);
}

.ethContainer {
  display: flex;
  width: 85%;
  aspect-ratio: 2 / 1;
  border: 1px solid var(--color-bor);
  margin: 0 auto;
  margin-bottom: 2vmax;
  align-items: center;
  background-size: contain;
  background-image: url(../../assets/ethnic.png);
}

.axomContainer {
  display: flex;
  width: 85%;
  aspect-ratio: 2 / 1;
  border: 1px solid var(--color-bor);
  margin: 0 auto;
  margin-bottom: 2vmax;
  align-items: center;
  background-size: contain;
  background-image: url(../../assets/axom.png);
}

.justContainer {
  display: flex;
  width: 81%;
  aspect-ratio: 2 / 1;
  border: 1px solid var(--color-bor);
  margin: 0 auto;
  margin-bottom: 2vmax;
  align-items: center;
  background-size: contain;
  background-image: url(../../assets/just.png);
}

.youContainer {
  display: flex;
  width: 81%;
  aspect-ratio: 2 / 1;
  border: 1px solid var(--color-bor);
  margin: 0 auto;
  margin-bottom: 2vmax;
  align-items: center;
  background-size: contain;
  background-image: url(../../assets/you.png);
}

.customContainer {
  display: flex;
  width: 81%;
  aspect-ratio: 2 / 1;
  border: 1px solid var(--color-bor);
  margin: 0 auto;
  margin-bottom: 2vmax;
  align-items: center;
  background-size: contain;
  background-image: url(../../assets/custom.png);
}

@media screen and (max-width: 600px) {
  .banner-text > img {
    display: flex;
    width: 90%;
    margin-top: -5vmax;
    margin-left: auto;
    margin-right: auto;
  }

  .productCard {
    width: 16vmax;

    padding-bottom: 0.5vmax;
  }

  .productCard > img {
    width: 16vmax;
    aspect-ratio: 3/4;
  }

  .productCard > p {
    font-size: 1.5vmax;
    font-weight: 500;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .banner {
    height: 40vh;
  }

  .banner-text > h1 {
    font-weight: 200;
  }
  .banner-text > p {
    font-size: 14px;
    font-weight: 200;
  }

  .looking-for {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 4vmax;
  }

  .looking-for > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vmax;
    aspect-ratio: 3/4;
  }
  .show-all {
    width: 20%;
  }
}
