.profileContainer {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileContainer > div {
  width: 10vmax;
  height: 10vmax;
  margin-bottom: 2rem;
}

.profileContainer > div > img {
  width: 10vmax;
  height: 10vmax;
  border-radius: 100%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.profile-details > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 40%;
  margin-bottom: 6rem;
}

.profile-actions p:hover {
  cursor: pointer;
}

.profile-actions > a {
  border: none;
  background-color: var(--color-light);
  color: var(--color-dark);
  font: 300 1vmax;
  width: 100%;
  padding: 3vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  text-align: center;
}

.profile-actions > p {
  border: none;
  background-color: var(--color-light);
  color: var(--color-dark);
  font: 300 1vmax;
  width: 100%;
  padding: 3vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .profile-actions {
    margin: 0 30%;
    margin-bottom: 6rem;
  }
}
