.profileContainer {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileContainer > div {
  width: 10vmax;
  height: 10vmax;
  margin-bottom: 2rem;
}

.profileContainer > div > img {
  width: 10vmax;
  height: 10vmax;
  border-radius: 100%;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-details > div {
  display: flex;
  gap: 2rem;
}
