.myOrdersPage {
  width: 60vw;
  padding: 0 7vmax;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 7rem;
}

.myOrdersTable div {
  font: 300 1vmax;
  color: rgba(0, 0, 0, 0.678);
  border: none;
  text-align: left;
}

.myOrdersTable a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.myOrdersTable a:hover {
  color: var(--color-red);
}

.MuiDataGrid-columnHeader {
  background-color: var(--color-dark-shade-one);
  padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
  font: 500 1.1vmax !important;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .myOrdersPage {
    width: 100vw;
    padding: 0;
    height: 93vh;
    padding-left: -100px;
  }

  .myOrdersTable div {
    font: 300 4vw;
  }

  .MuiDataGrid-columnHeader div {
    font: 500 5vw !important;
  }
}
