/* 6.16 */

.productDetails {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  max-width: 100%;
  padding: 6vmax;
  box-sizing: border-box;
  display: flex;
  margin-top: 4rem;
  gap: 2rem;
}

.carousal-container {
  display: flex;
  flex: 0.5;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.carousal {
  width: 300px;
  height: 400px;
}

.CarouselImage {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.CarouselImage {
  width: 100%;
  height: 100%;
}

.detail-block {
  display: flex;
  flex: 0.5;
  gap: 0.5rem;
  flex-direction: column;
}
.detailsBlock-1 > h2 {
  color: rgb(54, 54, 54);
  font: 600 1.6vmax "Roboto";
}

.detailsBlock-1 > p {
  color: rgba(54, 54, 54, 0.582);
  font: 200 0.6vmax cursive;
}

.review_container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.detailsBlock-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 70%;
  padding: 1vmax 0;
  gap: 1rem;
}

.detailsBlock-2-span {
  font: 200 0.8vmax;
  color: rgba(0, 0, 0, 0.699);
}

.detailsBlock3 {
  width: 70%;
  margin-top: 1rem;
}

.detailsBlock3-1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.detailsBlock3-1-1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.detailsBlock3-1-1 > button:hover {
  background-color: var(--color-mid);
}

.detailsBlock3-1-1 > input {
  border: none;
  padding: 0.5vmax;
  width: 2vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax;
  color: rgba(0, 0, 0, 0.74);
}

.detailsBlock3-1-1 > button {
  border: none;
  color: var(--color-bg);
  transition: all 0.5s;
  background-color: var(--color-btn);
  font: 500 0.7vmax;
  padding: 0.5vmax 1vmax;
  outline: none;
}

.detailsBlock3-1-1 > button:last-child:hover {
  background-color: var(--color-mid);
  color: var(--color-dark);

  cursor: pointer;
}

.product-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 30%;
  gap: 1rem;
}

.product-btn {
  border: none;
  background-color: var(--color-btn);
  color: var(--color-bg);
  font: 300 0.9vmax "Roboto";
  width: 70%;
  padding: 1vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  text-align: center;
}

.product-btn:hover {
  cursor: pointer;
}

.submitDialog {
  display: flex;
  flex-direction: column;
}
.submitDialogTextArea {
  border: 1px solid rgba(0, 0, 0, 0.082);
  margin: 1vmax 0;
  outline: none;
  padding: 1rem;
  font: 300 1rem "Roboto";
}

.reviews {
  display: flex;
  overflow: auto;
  margin-bottom: 4rem;
}

.reviewCard {
  flex: none;

  border: 1px solid rgba(56, 56, 56, 0.116);
  width: 30vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vmax;
  padding: 3vmax;
}
.reviewCard > img {
  width: 3vmax;
  border-radius: 100%;
}
.reviewCard > p {
  color: rgba(0, 0, 0, 0.836);
  font: 600 0.9vmax;
}
.reviewCardComment {
  color: rgba(0, 0, 0, 0.445);
  font: 300 0.8vmax;
}

.noReviews {
  font: 400 1.3vmax;
  text-align: center;
  color: rgba(0, 0, 0, 0.548);
}

@media screen and (max-width: 600px) {
  .productDetails {
    flex-direction: column;
    height: unset;
  }

  .productDetails > div:last-child {
    align-items: center;
  }

  .detailsBlock-1 > h2 {
    font-size: 2.8vmax;
    text-align: center;
  }

  .detailsBlock-1 > p {
    text-align: center;
    font-size: 1vmax;
  }

  .detailsBlock-2 {
    justify-content: center;
  }
  .detailsBlock-2 > span {
    font-size: 1.5vmax;
  }

  .detailsBlock3 > h1 {
    font: 700 3vmax "Franklin Gothic Medium";
    text-align: center;
  }

  .detailsBlock3-1 {
    flex-direction: column;
  }

  .detailsBlock3-1-1 {
    padding: 2vmax 0;
  }
  .detailsBlock3-1-1 > button {
    padding: 1.2vmax;
    width: 4vmax;
  }

  .detailsBlock3-1-1 > input {
    padding: 1.5vmax;
    width: 3vmax;
    font: 400 1.8vmax;
  }

  .detailsBlock3-1-1 > button {
    font: 500 1.7vmax;
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

  .detailsBlock-3 > p {
    padding: 2.5vmax 0;
    text-align: center;
    font: 400 2vmax;
  }

  .submitReview {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

  .reviewCard > p {
    font: 600 3vw "Roboto";
  }
  .reviewCardComment {
    font: 300 5vw cursive;
  }
}
